.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(white, 0.5);
  pointer-events: none;

  .spinner-border {
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
  }
}
